doctype html
html
    head
        title Gym Planner
    body
        h1 -+= GymPlanner =+-
        
        h2 Choose from the following engines:

        a(href='/Login') 
            h4 Login 
        a(href='/register') Register 


